<div class="responsive-table">

  <table trends-table="" id="trendsTable" class="table table-striped">
    <thead>
      <tr>
        <th>Summary</th>
        <th>Tags</th>
        <th>Count</th>
        <th>Last</th>
        <th>Details</th>
      </tr>
    </thead>
      <tbody>

        <tr ng-repeat="trend in trends">
          <td>
            {{trend.summary}}
          </td>
          <td>
            {{trend.tags.join(', ')}}
          </td>
          <td>
            {{trend.count}}
          </td>
          <td>

          </td>
          <td>
            <a ng-href="#/entries/{{trend.id}}" class="btn btn-primary">Details</a>
          </td>
        </tr>

      </tbody>
  </table>
</div>
