
body {
    font-size: 16px;
    line-height: 18px;
    padding: 10px;
}

#mainPopup {
    padding: 10px;
    margin: 10px;
    min-height: 250px;
    width: 400px;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

h1 {
    font-size: 2em;
}

form label {
    display: block;
    margin: 10px 0;
}

form label span {
    font-weight: bold;
}

form label input {
    display: block;
    width: 90%;
    font-size: 16px;
    line-height: 18px;
}

.hide {
    display: none;
}

nav {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

nav button {
    margin-right: 15px;
}

#messages li.success {
   background-color: #cdf2c8;
   color: #008000;
}

#messages li.error {
    color: #8a0000;
    background-color: #ffffb2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
    display: block;
    padding: 4px;
}

#similar-trends > ul > li {
  border-bottom: 1px solid #aaa;
  margin-bottom: 5px;
}

#similar-trends > ul > li > header {
    font-weight: bold;
}

#similar-trends [data-event="plusOne"] {
   float: right;
   clear: both;
   margin: 2px;
   font-size: 24px;
}

#similar-trends.exists [data-event="plusOne"] {
    display: none;
}

h3 {
    background-color: #fafafa;
    border-color: #aaa;
    border-style: solid;
    border-width: 1px 0;
    padding: 4px;
}

button.owned {
    color: red;
}

button.owned.by-me {
    color: green;
}